.search-container {
  @media screen and (min-width: 600px) {
    width: 30em;
  }

  display: flex;
  height: 3em;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  align-items: center;
}

.search-input {
  width: 90%;
  font-size: 14px;
  background: none;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
}
