<div class="search-container">
  <div class="search-icon">
    <i class="material-icons">search</i>
  </div>
  <input
    type="search"
    name="search"
    ngModel
    placeholder="Search"
    class="search-input"
    (ngModelChange)="onChange($event)"
  />
</div>
