<div class="container">
  <div *ngIf="lineChartData" class="coin-wallet-graph">
    <div class="coin-wallet-graph-header">
      <h1>Wallet Chart</h1>
      <div class="interval-selector-container">
        <mat-form-field>
          <mat-label>Interval</mat-label>
          <mat-select
            panelClass="sort-select"
            [(ngModel)]="interval"
            (selectionChange)="onIntervalChanged(interval)"
          >
            <mat-option value="m5">1 Day</mat-option>
            <mat-option value="h2">7 Days</mat-option>
            <mat-option value="h6">1 Month</mat-option>
            <mat-option value="h12">3 Months</mat-option>
            <mat-option value="d1">1 Year</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="'line'"
    >
    </canvas>
  </div>
  <div class="coin-wallet">
    <cv-coin-wallet (itemDeleted)="onItemDeleted()"></cv-coin-wallet>
  </div>
</div>
