.container {
  margin: 2em 10em;
  @media screen and (max-width: 600px) {
    margin: 2em;
  }
  justify-content: center;
  display: flex;

  .coin-wallet-graph {
    flex: 80%;
    width: 75%;

    .coin-wallet-graph-header {
      display: flex;

      h1 {
        width: 80%;
      }

      .interval-selector-container {
        margin-right: 16px;
        margin-left: auto;
      }
    }
  }

  .coin-wallet {
    flex: 20%;
  }

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;

    .coin-wallet-graph,
    .coin-wallet {
      flex: 100%;
    }
  }
}
