.header-container {
  width: 100%;
  height: 5em;
  background: #673ab7;
  display: flex;
  align-items: center;

  .logo {
    margin-left: 1em;
    color: white;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
  }

  .item {
    margin-left: 1.5em;
    color: white;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
  }
}
