.coin-list-header {
  margin: 1em 5em 0 5em;
}
.coin-list-container {
  margin: 0.5em 5em 5em 5em;
  @media screen and (max-width: 1000px) {
    margin: 0.5em 1em;
  }

  mat-table {
    width: 100%;

    .mat-column {
      &-rank {
        width: 5%;
        min-width: 100px;

        @media screen and (max-width: 650px) {
          display: none;
        }
      }

      &-symbol {
        width: 5%;

        @media screen and (max-width: 760px) {
          display: none;
        }
      }

      &-name {
        width: 10%;

        @media screen and (max-width: 650px) {
          padding-left: 24px;
        }
      }

      &-priceUsd {
        width: 10%;
        text-align: right;

        ::ng-deep .mat-sort-header-container {
          float: right;
        }
      }

      &-changePercent24Hr {
        width: 5%;
        text-align: right;

        ::ng-deep .mat-sort-header-container {
          float: right;
        }

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }

      &-marketCapUsd {
        width: 15%;
        text-align: right;

        ::ng-deep .mat-sort-header-container {
          float: right;
        }

        @media screen and (max-width: 950px) {
          display: none;
        }
      }

      &-volumeUsd24Hr {
        width: 15%;
        text-align: right;

        ::ng-deep .mat-sort-header-container {
          float: right;
        }

        @media screen and (max-width: 1000px) {
          display: none;
        }
      }
    }

    ::ng-deep .mat-row {
      cursor: pointer;

      &:hover {
        color: #000 !important;
        background-color: rgba(103, 58, 183, 0.1) !important;
      }
    }
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}
