<div class="coin-list-header">
  <cv-coin-list-search-bar
    (searchTextChanged)="onSearchTextChanged($event)"
  ></cv-coin-list-search-bar>
</div>
<div class="coin-list-container">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Rank</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.rank }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Symbol</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.symbol }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="priceUsd">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Price</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          ${{ getRoundedPrice(+element.priceUsd || 0) | number: "1.2-12" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="changePercent24Hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >24h %</mat-header-cell
        >
        <mat-cell
          [ngClass]="+element.changePercent24Hr > 0 ? 'positive' : 'negative'"
          *matCellDef="let element"
        >
          {{ +element.changePercent24Hr || 0 | number: "1.2-2" }}%
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="marketCapUsd">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Market Cap</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          ${{ +element.marketCapUsd || 0 | number: "1.0-0" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="volumeUsd24Hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Volume (24h)</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          ${{ element.volumeUsd24Hr || 0 | number: "1.0-0" }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openRowDetails(row)"
      ></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
