.coin-detail-graph-container {
  margin-top: 2em;
  width: 100%;

  .coin-detail-graph-header {
    display: flex;

    h1 {
      width: 80%;
    }

    .interval-selector-container {
      margin-right: 16px;
      margin-left: auto;
    }
  }
}
