<div *ngIf="coin" class="coin-details-container">
  <div class="left-section">
    <div class="coin-details-card">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>{{ coin.name }}</mat-card-title>
          <mat-card-subtitle>{{ coin.symbol }}</mat-card-subtitle>
          <mat-card-subtitle>Rank #{{ coin.rank }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="right-content">
          <span class="coin-detail-price"
            >${{
              getRoundedPrice(+coin.priceUsd || 0) | number: "1.2-12"
            }}</span
          >
          <span
            class="coin-detail-change"
            [ngClass]="+coin.changePercent24Hr > 0 ? 'positive' : 'negative'"
            >{{ +coin.changePercent24Hr || 0 | number: "1.2-2" }}%</span
          >
        </mat-card-content>
      </mat-card>
      <div class="coin-details-other">
        <div class="coin-detail-element">
          <label class="coin-detail-label">Market Cap (USD)</label>
          <span class="coin-detail-item"
            >${{ +coin.marketCapUsd || 0 | number: "1.0-0" }}</span
          >
        </div>
        <div class="coin-detail-element">
          <label class="coin-detail-label">Max Supply</label>
          <span class="coin-detail-item">{{
            +coin.maxSupply || 0 | number: "1.0-0"
          }}</span>
        </div>
        <div class="coin-detail-element">
          <label class="coin-detail-label">Current Supply</label>
          <span class="coin-detail-item">{{
            +coin.supply || 0 | number: "1.0-0"
          }}</span>
        </div>
        <div class="coin-detail-element">
          <label class="coin-detail-label">24H Volume</label>
          <span class="coin-detail-item">{{
            +coin.volumeUsd24Hr || 0 | number: "1.2-2"
          }}</span>
        </div>
        <div class="coin-detail-element">
          <label class="coin-detail-label">24H VWAP</label>
          <span class="coin-detail-item">{{
            +coin.vwap24Hr || 0 | number: "1.2-2"
          }}</span>
        </div>
      </div>
    </div>
    <div class="coin-details-graph">
      <cv-coin-detail-graph
        [name]="coin.name"
        [interval]="interval"
        [coinHistory]="coinHistory"
        (intervalChanged)="onIntervalChanged($event)"
      ></cv-coin-detail-graph>
    </div>
  </div>
  <div class="right-section">
    <cv-coin-wallet [symbol]="coin.symbol" [id]="coin.id"></cv-coin-wallet>
  </div>
</div>
