.coin-details-container {
  margin: 2em 10em;
  justify-content: center;
  display: flex;

  .left-section {
    flex: 80%;
  }

  .right-section {
    flex: 20%;
  }

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;

    .left-section,
    .right-section {
      flex: 100%;
    }
  }

  .coin-details-card {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 100%;
    }

    .card-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;

      mat-card-title {
        font-size: 32px;
      }
      mat-card-subtitle {
        font-size: 20pxpx;
      }

      .right-content {
        margin-right: 16px;
        margin-left: auto;

        span {
          display: flex;
          justify-content: flex-end;
          padding-bottom: 0.5em;
        }

        .coin-detail {
          &-price {
            font-size: 24px;
            font-weight: 300;
          }

          &-change {
            font-size: 20px;
            font-weight: 200;

            &.positive {
              color: green;
            }

            &.negative {
              color: red;
            }
          }
        }
      }
    }
  }

  .coin-details-other {
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    @media screen and (max-width: 1250px) {
      flex-direction: column;
    }

    .coin-detail-element {
      margin: 0.5em;
      width: 15%;
      .coin-detail-label {
        display: flex;
        font-size: 20px;
        font-weight: 400;
      }

      .coin-detail-item {
        display: flex;
        font-size: 16px;
        margin-top: 0.75em;
      }
    }
  }

  cv-coin-wallet {
    flex: 30%;
  }

  cv-coin-detail-graph {
    width: 100%;
  }

  .interval-selector-container {
    margin: 0 auto;
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 70%;
    }
  }
}
