<div class="coin-wallet-container">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>My Wallet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1 class="coin-wallet-value">${{ totalValue | number: "1.2-2" }}</h1>
    </mat-card-content>
    <mat-card-content>
      <div>
        <h2>Holdings</h2>
        <div
          *ngIf="currentHoldings.length > 0; else noHoldings"
          class="holdings"
        >
          <div *ngFor="let holding of currentHoldings" class="holding-details">
            <h4 class="holding-details-symbol">{{ holding.symbol }}</h4>
            <h4 class="holding-details-amount">
              {{ holding.amount | number: "1.2-12" }}
            </h4>
            <h4 class="holding-details-current-value">
              ${{ holding.currentValue | number: "1.2-2" }}
            </h4>
            <mat-icon
              color="primary"
              class="holding-details-delete"
              (click)="onDelete(holding.symbol)"
              >delete</mat-icon
            >
          </div>
        </div>
        <ng-template #noHoldings>
          <h4>No holdings found.</h4>
        </ng-template>
      </div>
    </mat-card-content>
    <div *ngIf="symbol && id">
      <mat-card-content>
        <div class="wallet-add-container">
          <mat-form-field appearance="outline">
            <mat-label>Add {{ symbol }} to Wallet</mat-label>
            <input
              [(ngModel)]="amount"
              matInput
              type="number"
              placeholder="0.123"
            />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="onAdd()">
            Add
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions class="mat-actions">
        <button mat-button routerLink="/wallet">Go to Wallet Graph</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
