.coin-wallet-container {
  width: 100%;

  .card-container {
    margin: 0 0 0 2em;
    @media screen and (max-width: 1370px) {
      margin: 2em;
    }

    ::ng-deep mat-card-header .mat-card-header-text {
      margin: 0;
    }

    mat-card-title {
      font-size: 32px;
      margin: 0.5em 0em;
    }

    .coin-wallet-value {
      text-align: center;
      padding: 2em;
      font-size: 40px;
    }

    .wallet-add-container {
      display: flex;
      justify-content: space-between;

      mat-form-field {
        width: 70%;
      }

      button {
        margin: 0.25em 0;
        width: 20%;
        height: 50px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .holding-details {
      display: flex;
      justify-content: space-between;

      &-symbol {
        display: flex;
        flex: 20%;
        flex-direction: row;
      }

      &-amount {
        flex: 10%;
        margin-left: auto;
        text-align: right;
      }

      &-current-value {
        flex: 10%;
        text-align: right;
      }

      &-delete {
        margin-left: 1em;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .mat-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
